@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-layout-background:#43baf13a;/* ヘッダーフッター共通色 */
  --color-layout-text:#2f3e44;/* ヘッダーフッター共通文字色 */
  --header-height: 80px;

  --color-primary: #1E40AF;    /* ヘッダー色 */
  --color-secondary: #702323;  /* フッター色 */
  --color-text: #FFFFFF;       /* テキスト色 */

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
